<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="main w-full min-h-screen bg-zinc-900 p-10 text-underline">
        <h2 class="text-2xl text-white">File Data</h2>
        <div class="h-[100px] mt-8 w-full rounded-md bg-zinc-500 p-6 ">
            <%=data%>
        </div>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script>
</body>
</html>